.header-container {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(146, 37, 161, 0.753);
  height: 10vh;
  padding: 2%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
